<div class="loading-spinner" aria-label="{{ 'general.loading' | t | default: 'Loading' }}" role="status">
  <span class="visually-hidden">{{ 'general.loading' | t | default: 'Loading...' }}</span>
</div>
